:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #d8dee9;
  background-color: #16213E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
}

html,body{ 
  margin:0; 
  padding:0; 
  height: 100%; 
  width:100%; 
}

.container {
  display: grid;
  place-items: right;
  padding-right: 5.6vw;
  padding-left: 5.6vw;
}

.card {
  background-color: #0F3460;
  border-radius: 8px;
  padding: 0.6em 1.2em;
}

@media (max-width: 500px) {
  .card {
    grid-template-columns: auto;
  }
}

.card-item {}

a {
  text-decoration: none;
  width: 5vmax;
  color: #eceff4;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #533483;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:hover {
  border-color: #E94560;
}

/* Welcome */
.welcome {
  display: grid;
  place-items: center;
  padding-top: 35vh;
  text-align: center;
}

button {
  width: 20vmax;
  color: #eceff4;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #533483;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #E94560;
}
/* Welcome */

/* NavBar styles */
.nav{
  display: grid;
  place-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
  list-style-type: none;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-inline-start: 0px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0;
  overflow: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  width: 100vw;
  text-align: center;
}
/* NavBar styles */

/* Services styles */
.service-card {
  display: grid;
  place-items: center;
  gap: 0px;
  grid-template-columns: auto auto;
}

.card-item-service {
  padding-top: 5vmax;
  padding-bottom: 5vmax;
}
/* Services styles */

/* History styles */
.history-card {
  display: grid;
  place-items: center;
  gap: 0px;
  grid-template-columns: auto auto;
}

.card-item-history {
  padding-top: 5vmax;
  padding-bottom: 5vmax;
}

/* History styles */

.hiden {
  display: none;
}